S3method(as.bsm,default)
S3method(calibMatrix,bsm)
S3method(calibMatrix,default)
S3method(calibrate,bsm)
S3method(calibrate,default)
S3method(calmat,cal.pbou)
S3method(calmat,cal.surf1)
S3method(calmat,default)
S3method(calmat_reshape,default)
S3method(extensions,bsm)
S3method(extensions,default)
S3method(gaugeOrientations,bsm)
S3method(get_az,bsm)
S3method(get_itype,bsm)
S3method(get_station,bsm)
S3method(is.calibrated,bsm)
S3method(is.calibrated,default)
S3method(linearize,default)
S3method(plot_gaugeline,default)
S3method(plot_orientations,bsm)
S3method(plot_orientations,default)
S3method(principals,bsm)
S3method(principals,default)
S3method(principals,lsm2)
S3method(principals,lsm3)
S3method(rotate,bsm)
S3method(rotate,default)
S3method(strains,bsm)
S3method(unlinearize,default)
export(.az_wrap)
export(as.bsm)
export(calibMatrix)
export(calibrate)
export(calmat)
export(calmat_reshape)
export(circle)
export(extensions)
export(gap_distance)
export(gaugeOrientations)
export(get_az)
export(get_itype)
export(get_station)
export(is.bsm)
export(is.calibrated)
export(is.raw_strain)
export(linearize)
export(plot_gaugeline)
export(plot_orientations)
export(principals)
export(print.bsm)
export(print.cal)
export(print.cal.pbo)
export(print.cal.pbou)
export(print.cal.roel1)
export(print.cal.roel2)
export(print.cal.surf1)
export(print.cal.surf2)
export(rotate)
export(strain_azimuth)
export(strains)
export(unlinearize)
import(Matrix)
import(corpcor)
