export(.az_wrap)
export(as.bsm)
export(calibMatrix)
export(circle)
export(gaugeOrientations)
export(get_az)
export(get_itype)
export(get_station)
export(is.bsm)
export(plot_gaugeline)
export(plot_orientations)
export(print.bsm)
export(rotate)
export(strain_azimuth)
import(corpcor)
import(Matrix)
S3method(as.bsm,default)
S3method(calibMatrix,default)
S3method(gaugeOrientations,bsm)
S3method(get_itype,bsm)
S3method(get_station,bsm)
S3method(plot_gaugeline,default)
S3method(plot_orientations,bsm)
S3method(plot_orientations,default)
S3method(rotate,bsm)
S3method(rotate,default)
