export(.az_wrap)
export(as.bsm)
export(calibMatrix)
export(circle)
export(gap_distance)
export(gaugeOrientations)
export(get_az)
export(get_itype)
export(get_rawstrain)
export(get_station)
export(is.bsm)
export(is.calibrated_strain)
export(is.calibrated)
export(is.raw_strain)
export(linearize)
export(plot_gaugeline)
export(plot_orientations)
export(principals)
export(print.bsm)
export(rotate)
export(strain_azimuth)
export(unlinearize)
import(corpcor)
import(Matrix)
S3method(as.bsm,default)
S3method(calibMatrix,bsm)
S3method(calibMatrix,default)
S3method(gaugeOrientations,bsm)
S3method(get_az,bsm)
S3method(get_itype,bsm)
S3method(get_rawstrain,bsm)
S3method(get_station,bsm)
S3method(is.calibrated,bsm)
S3method(linearize,default)
S3method(plot_gaugeline,default)
S3method(plot_orientations,bsm)
S3method(plot_orientations,default)
S3method(principals,bsm)
S3method(principals,lsm2)
S3method(principals,lsm3)
S3method(rotate,bsm)
S3method(rotate,default)
S3method(unlinearize,default)
